<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style_animals.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Nanum+Gothic" rel="stylesheet">
    <title>RMAS</title>
  </head>
  <body>

    <h1>Animals</h1>

    <div class="animal-container">
      <% @animals.each do |animal| %>
        <div class="single-animal-container">
          <p>Name: <%= animal.name %></p>
          <p>Type: <%= animal.type %></p>
          <p>Breed: <%= animal.breed %></p>
          <p>Age: <%= animal.age %></p>
          <p>Status: <%= animal.status  %></p>
          <p>Admission Date: <%= animal.admission_date %></p>
          <p>Description: <%= animal.description %></p>
          <a href="/animals/<%= animal.id %>">Show Animal</a>
        </div>
      <% end %></div>
    

    <h2><div class="link-container">
      <a href="/unavailable/">Show Unavailable Animals</a>
      <a href="/donate_pet/">Re-Home a Pet</a>
      <a href="/">Home</a>
      </div>
    </h2>

  </body>
</html>
