<p>Animals</p>

<% @animals.each do |animal| %>
  <p>Name: <%= animal.name %></p>
  <p>Type: <%= animal.type %></p>
  <p>Breed: <%= animal.breed %></p>
  <p>Age: <%= animal.age %></p>
  <p>Status: <%= animal.status %></p>
  <p>Admission Date: <%= animal.admission_date %></p>
  <a href="/animals/<%= animal.id %>">Show Animal</a>


<% end %>
