
<p>Name: <%= @animals.name %></p>
<p>Type: <%= @animals.type %></p>
<p>Breed: <%= @animals.breed %></p>
<p>Age: <%= @animals.age %></p>
<p>Status: <%= @animals.status %></p>
<p>Admission Date: <%= @animals.admission_date %></p>

<a href="/adopt_pet/<%= @animals.id %>">Adopt this pet</a>

<a href="/edit_animal/">Edit</a>
<a href="/">Home</a>
