
<p>Name: <%= @animals.name %></p>
<p>Type: <%= @animals.type %></p>
<p>Breed: <%= @animals.breed %></p>
<p>Age: <%= @animals.age %></p>
<p>Status: <%= @animals.status %></p>
<p>Admission Date: <%= @animals.admission_date %></p>

<a href="/edit_animal/<%= @animals.id %>">Edit</a>
<a href="/delete_animal/<%= @animals.id %>">Delete</a>
<a href="/">Home</a>
