<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style_unavailable.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Nanum+Gothic" rel="stylesheet">
    <title>RMAS</title>
  </head>
  <body>

    <h1>Animals in Training</h1>

    <p>Below is a list of animals who are unavailable for what could be several
    reasons. Some animals simply are too young for adoption, some are still
    needing necessary training and/or vaccinations, while others may be reserved
    for someone who is interested in adopting them.</p>

<div class="animal-container">
    <% @animals.each do |animal| %>
    <div class="content-container">
      <p>Name: <%= animal.name %></p>
      <p>Type: <%= animal.type %></p>
      <p>Breed: <%= animal.breed %></p>
      <p>Age: <%= animal.age %></p>
      <p>Status: <%= animal.status  %></p>
      <p>Admission Date: <%= animal.admission_date %></p>
      <a href="/unavailable/<%= animal.id %>">Show Animal</a>
    </div>
    <% end %>
</div>

<div class="link-container">
    <a href="/">Home</a>
</div>


  </body>
</html>
